// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 @import "resources/assets/css/lib/datetimepicker";
 @import "resources/assets/css/lib/mapplic";
body {
	margin-bottom: 60px;
}
a {
	color: #c7254e;
}
.no-top-margin {
	margin-top: 0;
}
.half-bottom-margin {
	margin-bottom: 5px;
}

.shade-blue {
	color: #3e9bd5;
}

.event-listing .event {
	display: none;
}

.event-listing .event h2.eventname {
	color: #666;
	margin-top: 0;
}

table.timer-table {
	width: 165px;
    text-align: center;
}

table.timer-table span {
	color: #999;
}

label.timer-table-caption {
	margin-bottom: 0;
    margin-right: 34px;
    display: block;
}

h1.event-title {
	font-weight: bold;
    font-size: 26px;
}

.exposition-hall {
	text-align: center;
}
.exposition-hall img.logo {
	width: 100%;
}

.exposition-hall h2 {
	margin-bottom: 5px;
}

.exposition-hall .large, .exposition-hall .medium {
	margin-bottom: 25px;
}

.exposition-hall .large h2 {
	font-size: 25px
}

.exposition-hall .medium h2 {
	font-size: 18px
}

.exposition-hall .small h2 {
	font-size: 12px
}

.exposition-hall .modal-content {
	text-align: left;
}

.exposition-hall .modal-body p {
	font-size: 14px;
}

.exposition-hall .modal-body.company p {
	font-size: 18px;
}

.exposition-hall .large .col-md-4 {
	height: 320px;

}

.exposition-hall .large .col-md-4 img.logo {
	max-height: 100px;
	max-width: 300px;
}

.exposition-hall .large .col-md-4 h2.price {
	line-height: 50px;
	margin-top: 50px;

}

.exposition-hall .medium .col-md-3 {
	height: 220px;
}

.exposition-hall .medium .col-md-3 img.logo {
	max-height: 50px;
	max-width: 150px;
}

.exposition-hall .medium .col-md-3 h2.price {
	line-height: 20px;
	margin-top: 20px;
	
}

.exposition-hall .small .col-md-2 {
	height: 120px;
}

.exposition-hall .small .col-md-2 img.logo {
	max-height: 20px;
	max-width: 75px;
}

.exposition-hall .small .col-md-2 h2.price {
	line-height: 10px;
	margin-top: 10px;
	
}

.reserve .login-form {
	margin-top: 80px;
    margin-bottom: 80px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.footer .row .text-muted {
  margin: 20px 0;
}



